/* This is the CSS file for an animated clock */
.clock {
	position: relative; /* this will allow you to move this element's position itself - not a parent position type*/
	width: 200px; /* this is the width of the element on the page*/
	height: 200px; /* this is the height of the element on the page*/
	border: 5px solid green; /*5px is the thickness of the border, solid line and green color*/
	border-radius: 50%; /*All four corners are rounded equally by 50% which creates a circle*/
	margin: 50px auto; /*determines space around element - in this case top and bottom 50px space and an auto calc for left and right depending on the browser*/
	color: red; /*this sets the color of the text inside the clock's face in this case the numbers*/
	background-color: black; /*this sets the color of the clock itself*/
}
/* class = number number3/6/9/12 */
.number {
	position: absolute;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}

.number3 {
	bottom: 25px;
	left: 140px;
}

.number6 {
	top: 165px;
	left: 50px;
}

.number9 {
	bottom: 25px;
	left: -40px;
}

.number12 {
	top: -15px; left: 50px;
}

.hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform-origin: 50% 100%;
	background: yellow; /* color of hands */
}

.hour {
	width: 4px;
	height: 50px;
	transform: translateX(-50%) rotate(0deg);
	animation: hourSpin 43200s linear infinite;
}

@keyframes hourSpin {
	from {
		transform: translateX(-50%) rotate(0deg);
	}
	to {
		transform: translateX(-50%) rotate(360deg);
	}
}

.minute {
	width: 3px;
	height: 70px;
	transform: translateX(-50%) rotate(0deg);
	animation: minuteSpin 3600s linear infinite;
}

@keyframes minuteSpin {
	from {
		transform: translateX(-50%) rotate(0deg);
	}
	to {
		transform: translateX(-50%) rotate(360deg);
	}
}

.second {
	width: 2px;
	height: 80px;
	transform: translateX(-50%) rotate(0deg);
	animation: secondSpin 60s steps(60) infinite;
}

@keyframes secondSpin {
	from {
		transform: translateX(-50%) rotate(0deg);
	}
	to {
		transform: translateX(-50%) rotate(360deg);
	}
}