.full-clock {
  position: absolute;
  right: 19%;
  top: 5%;
  z-index: 2;
}

.sleeping-butters {
  position:relative;
  z-index: 3;
  left: 30%;
  top:323px;
}

.diningroom {
  position: absolute;
  z-index: 0;
}

.livingroom {
  position: absolute;
  z-index: 1;
}

.project-container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}