.full-clock {
  position: absolute;
  z-index: 2;
  right: 21%;
  top: 5%;
}

.sleeping-butters {
  position:relative;
  z-index: 3;
  left: 30%;
  top:400px;

}

.diningroom {
  position: absolute;
  z-index: 0;
}
.livingroom {
  position: absolute;
  z-index: 1;
}
