
body {
  margin: 0;
  padding: 0;
}

.diningroom {
  width: 100vw; /* This will make the div as wide as your viewport */
  height: 100vh; /* This will make the div as tall as your viewport */
  background-image: url('/images/backgroundImages/dining-room.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  }

  @media (max-width: 600px) {
    .dining-room {
      background-size: 100% auto;
      background-position: top center;
    }
  }