.livingroom {
  width: 800px; /* This will make the div as wide as your viewport */
  height: 600px; /* This will make the div as tall as your viewport */
  background-image: url('../../public/images/backgroundImages/living-room-minus-entryway600x800.png');
  }

  // @media (max-width: 600px) {
  //   .living-room {
  //     /* Styles for screens smaller than 600px */
  //   }
  //}