$scale: 1.1;

.living-room {
  background-image: url('../images/backgroundImages/livingroom-background-with-couch.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  }