.sleeping-butters {
    position: relative;
}

.butters-sleeping {
    position: relative;
    z-index: 2;
}

.butters-breathing-sleeping-torso {
    position: absolute;
    z-index: 1;
    top: 50px; /* adjust as needed */
}