.sleeping-butters {
    position: relative;
    width: 500px;
    height: 500px;
}

.butters-sleeping {
    position: absolute;
    top: 0;
    bottom: 0;
}

.butters-breathing-sleeping-torso {
    z-index: 1;
}

